{{ use('/yii/grid/GridView') }}
{{ use('/common/models/User') }}
{% set title = 'Users' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="user-index">
    <h1>{{ html.encode(this.title) }}</h1>
    {# include('_search.twig', {'model': searchModel}) #}
    <p>
        <a href="{{ path(['create']) }}" class="btn btn-success">{{ 'Create User' }}</a>
    </p>
    {{ grid_view_widget({
            'dataProvider': dataProvider,
            'filterModel': searchModel,
            'columns': [
                {'class': '\\yii\\grid\\SerialColumn'},

                'username',
                'email:email',
                {
                    'attribute': 'status',
                    'format': 'text',
                    'content' : this.getUFStatus(),
                    'filter': {'0': 'Locked'}
                },
                'created_at:datetime',
                'updated_at:datetime',

                {'class': '\\yii\\grid\\ActionColumn'},
            ],
        })
    }}
</div>