{{ register_asset_bundle('frontend/assets/AppAsset') }}  {# asset root for yii advanced template #}
{{ use('yii/widgets/Breadcrumbs') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{ void(this.head) }}
</head>
<body>
{{ void(this.beginBody()) }}

<header class="page-header">
    {{ nav_bar_begin({
        'brandLabel': '<img src="./img/faq-logo.png" alt="logo" /><p class="brand-text">&lt;?askAnythingSpecial?&gt;</p>',
        'brandUrl' : app.homeUrl,
        'options' : {
            'class' : 'navbar navbar-fixed-top',
        }
    }) }}
    {% set menuItems = [] %}
    {% if app.user.isGuest == false %}
        {% set menuItems = menuItems|merge([
        {'label' : 'Main', 'url' : ['/']},
        {'label' : 'Categories', 'url' : ['/categories']},
        {'label' : 'Last Questions', 'url' : ['/questions/new']},
        {'label' : 'Stop Words', 'url' : ['/stopwords']},
        {'label' : 'Users', 'url' : ['/users']},
        {'label' : 'Logout (' ~ app.user.identity.username ~ ')',
        'url' : ['/site/logout'],
        'linkOptions' : {'data-method' : 'post'}
        }
        ]) %}
    {% else %}
        {% set menuItems = menuItems|merge([
        {'label' : 'Sign In', 'url' : ['/site/login']}
        ]) %}
    {% endif %}
    {{ nav_widget({
        'options': {
            'class': 'navbar-nav navbar-right',
        },
        'items': menuItems
    }) }}
    {{ nav_bar_end() }}
</header>
<main class="content">
    <div class="container">
        {{ breadcrumbs_widget({
            'links' : this.params['breadcrumbs'] | default([]),
        }) }}
        {% for alert in [ 'info', 'success', 'warning', 'error'] %}
            {% if app.session.hasFlash(alert) %}
                <div class="alert alert-{{ alert }}">
                    <button class="close" data-dismiss="alert">&times;</button>
                    {{ app.session.getFlash(alert)|join('<br/>') }}
                </div>
            {% endif %}
        {% endfor %}

        {% block content %}
        {% endblock %}
        {{ content | raw }}
    </div>
</main>
<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; Netology Diploma {{ 'now'|date('Y') }}</p>
        <p class="pull-right">Powered by <a href="//github.com/ksyukaksyu">Ksyukaksyu</a></p>
    </div>
</footer>
{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}
