{{ use('/yii/widgets/ActiveForm') }}
<div class="question-form">
    {% set form = active_form_begin() %}

    {{ form.field(model, 'id_category').textInput()|raw }}

    {{ form.field(model, 'datetime_added').textInput()|raw }}

    {{ form.field(model, 'state').dropDownList({'draft':'Draft','published':'Published','hidden':'Hidden','':''}, {'prompt':''})|raw }}

    {{ form.field(model, 'is_blocked').textInput()|raw }}

    {{ form.field(model, 'is_telegram').textInput()|raw }}

    {{ form.field(model, 'author_name').textInput({'maxlength':true})|raw }}

    {{ form.field(model, 'author_mail').textInput({'maxlength':true})|raw }}

    {{ form.field(model, 'question').textarea({'rows':6})|raw }}

    {{ form.field(model, 'answer').textarea({'rows':6})|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>