{{ use('yii/widgets/ActiveForm') }}
<div class="question-form">
    {% set form = active_form_begin() %}

    {{ form
        .field(model, 'author_name')
        .label("Your Name")
        .textInput({'maxlength':true})|raw
    }}

    {{ form
        .field(model, 'author_mail')
        .label("Your E-Mail")
        .textInput({'maxlength':true})|raw
    }}

    {{ form
        .field(model, 'id_category')
        .label("Category")
        .dropDownList(
        categories,
            {'prompt':'Select Category'}
        )|raw
    }}


    {{ form.field(model, 'question').label("Your Question").textarea({'rows':6})|raw }}

    <div class="form-group">
        <input type="submit" value="Add my question" class="btn btn-success" />
    </div>
    {{ active_form_end() }}
</div>