{% set title = 'Create Question' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([{'label': 'Questions', 'url': path(['index'])}]) %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="question-create">
    <h1>{{ html.encode(this.title) }}</h1>
    {{ include('_form.twig', {
            'model': model,
        })
    }}
</div>