{{ use('/yii/grid/GridView') }}
{% set title = 'Questions' %}
{{ set(this, 'title', title) }}
{% if not this.params.breadcrumbs %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': []})) }}
{% endif %}
{% set breadcrumbs = this.params.breadcrumbs %}
{% set breadcrumbs = breadcrumbs|merge([title]) %}
{{ set(this, 'params', this.params|merge({'breadcrumbs': breadcrumbs})) }}
<div class="question-index">
    <h1>{{ html.encode(this.title) }}</h1>
    {{ grid_view_widget({
            'dataProvider': dataProvider,
            'columns': [
                {'class': '\\yii\\grid\\SerialColumn'},

                'id',
                'idCategory.name',
                'datetime_added:datetime',
                'state',
                'is_blocked',

                {'class': '\\yii\\grid\\ActionColumn'},
            ],
        })
    }}
</div>