{{ use('/yii/widgets/ActiveForm') }}
<div class="stopword-form">
    {% set form = active_form_begin() %}

        {{ form.field(model, 'word').textInput({'maxlength':true})|raw }}

    <div class="form-group">
        <input type="submit" value="{{ model.isNewRecord ? 'Create' : 'Update' }}" class="{{ model.isNewRecord ? "btn btn-success" : "btn btn-primary" }}">
    </div>
    {{ active_form_end() }}
</div>